body {
  background-color: #0079BF;
  color: white;
  margin-left: 10px;
}

h2 {
  color:white;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color:white;
  cursor: pointer;
}

.header {
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 1px white dashed;
}
