h1 {
  color: #0079BF;
  text-align: center;
  font-weight: bolder;
}

h2 {
  color: #0079BF;
  text-align: center;
  font-weight: bold
}

h3 {
  color: #0079BF;
}

.header {
  margin-bottom: 100px;
}

a:hover {
  cursor: pointer;
}

.todo {
  padding: 10px;
  margin: 10px;
  text-align:left;
  border: 1px gray solid;
}

.todo h2 {
  color: black;
  text-align:left;
}

img {
  height: 100px;
  width: auto;
  float: left;
}

.img2 {
  display: inline-block;
  height:25px;
  width: auto;
  float:left;
  margin-right: 5px;
}

.div5 {
  margin-top: 100px;
}

button {
  float: right;
  background-color: white;
  border: none;
}
