h1 {
  color: #800000;
  font-size: 50px;
  float: left;
}

h2 {
  color: #800000;
  text-align: center;
  font-weight: bold
}

h3 {
  color: #800000;
}

.header {
  margin-left: 25px;
  margin-bottom: 10px;
}

.div2 {
  margin-left: 25px;
}

a:hover {
  cursor: pointer;
}

.todo {
  padding: 10px;
  margin: 10px;
  text-align:left;

}

.todo h4 {
  color: black;
  text-align:left;
}

img {
  height: 75px;
  width: auto;
  float: left;
}

.img2 {
  display: inline-block;
  height:25px;
  width: auto;
  float:left;
  margin-right: 5px;
}

.div5 {
  margin-top: 100px;
}

.close {
  float: right;
  background-color: white;
  border: none;
}

.card li {
  list-style-type: circle;
  text-indent: 25px;
}

.checklist li {
  list-style-type: square;
  text-indent: 50px;
}
